* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #1f1f1f;
}
.calculator {
    border: 1px solid #333;
    background-color: #ccc;
    padding: 5px;
}
.calculator form {
    display: grid;
    grid-template-columns: repeat(4, 65px);
    grid-auto-rows: 65px;
    grid-gap: 5px;
}